.autopark__title{
    margin-bottom:40px ;
}
.autopark__list{
    display: grid ;
    grid-template-columns: repeat(3, calc((100% - 24px * 2)/3 ));
    gap:40px 24px;
}
.descriptions{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 17px;
}
.car{
    text-align: center;
}
.autopark{
    margin-bottom: 100px;
}