.main-header__container{
    display: flex;
    gap: 244px ;
    padding: 25px 0px;
    align-items: center;
}
.main-header__list {
    display: flex;
    gap: 115px ;
}
.main-header{
    border-bottom: 1px solid #E5E5E5;
}